@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General styles */
.text {
  text-align: center;
  color: white;
  font-size: 36px;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100%;
  color: rgb(110, 110, 110);
}

body {
  margin-top: 0px; /* To push the page down*/
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  margin-right: 2px;
}

nav a:hover {
  background-color: #c2c1c1;
  color: #fff;
}

nav a.active {
  background-color: #c2c1c1;
  color: #fff;
}

main {
  margin-top: 100px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  background-color: #bebebe;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  opacity: 0.7;
}

button:hover {
  background-color: #efa22f;
}

.footer-container {
	background-color: #bebebe;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.social-links {
	display: flex;
	justify-content: center;
}

.social-links a {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

.footer-text {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;
}

.footer-text a {
	color: #fff;
	text-decoration: none;
}

.footer-text a:hover {
	text-decoration: underline;
}

/* Add your resume-specific styles below this line */

/* Style for resume section */
#resume {
  text-align: left;
  padding: 20px 60px 20px 60px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  max-width: 900px;
}

/* Style for top section */
#top-section {
  background-color: #f5f5f5;
  padding: 5px;
}

/* Style for heading */
#resume h2 {
  font-size: 20px;
  color: rgb(110, 110, 110);
  margin-top: 30px; /* Adjust the margin as needed */
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

/* Style for subheading */
#resume h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  margin-top: 15px; /* Adjust the margin as needed */
  position: relative;
}

#resume h2,
#resume h3 {
  padding-top: 0; /* Remove unnecessary padding */
  padding-bottom: 0; /* Remove unnecessary padding */
}

/* Style for bullet point text */
#resume ul li {
  font-size: 14.5px;
  color: #666;
  margin-bottom: 3px; /* Adjust the margin as needed */
  line-height: 1.4; /* Adjust the line height as needed */
}

/* Style for dates */
#resume .date {
  font-size: 16px;
  color: #666;
  margin-bottom: 3px; /* Adjust the margin as needed */
  line-height: 1.0; /* Adjust the line height as needed */
}
/* Style for descriptions within <td> elements */
#resume td p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px; /* Adjust the margin as needed */
  line-height: 1.4; /* Adjust the line height as needed */
}

/* Add this CSS to your resume.css file */
.cv-table {
  width: 100%; /* Set a fixed width for the table */
  border-collapse: collapse; /* Collapse borders to remove spacing */
}

.cv-table th,
.cv-table td {
  padding: 8px;
  text-align: left;
  line-height: 0.5; /* Adjust the line-height as needed */
  color: #666;
}

/* Divide the table into two columns */
.cv-table th:nth-child(1),
.cv-table td:nth-child(1) {
  width: 20%; /* First column occupies 20% of the table width */
}

.cv-table th:nth-child(2),
.cv-table td:nth-child(2) {
  width: 80%; /* Second column occupies 80% of the table width */
}

/* Decrease the vertical spacing between <p> elements */
.cv-table p {
  margin: 2px 0; /* Adjust the margin as needed */
  font-size: 16px;
  color: #666;
}

#resume p {
  font-size:16px;
  line-height: 1.4; /* Adjust the line height as needed */
  color: #666;
}

/* Style for Personal Information table */
.cv-table.personal-info-table {
  width: 100%;
  border-collapse: collapse;
}

.cv-table.personal-info-table td {
  padding: 1px 8px; /* Adjust the padding as needed */
  line-height: 0.1; /* Adjust the line height as needed */
}

.cv-table.personal-info-table p {
  font-size: 16px;
  margin: 0;
  line-height: 0.1;
  color: #666;
}

/* Style for dates within the Personal Information table */
.cv-table.personal-info-table .date {
  font-size: 16px;
  color: #666;
  margin-bottom: 1px; /* Adjust the margin as needed */
  line-height: 0.1; /* Adjust the line height as needed */
}

/* Style for the cover page personal information */
#cover-page h1 {
  font-size:24px;
  color: #666; /* Set the font color to white */
}
#cover-page p {
  font-size: 16px;
}


/* Use white space effectively */
#resume h2,
#resume h3 {
  margin-top: 5px;
}

#resume ul {
  margin-left: 20px;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

#resume ul li {
  margin-bottom: 5px;
}

#resume ul {
  list-style: none;
}

.slideshow-container {
  position: relative;
  width: 70%;
  height: 1000px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transform: scale(0.7); /* adjust the scale value as needed */
}

.slideshow-container img.active {
  opacity: 1;
}

#slide-number {
  margin-top: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 600px) {
  #top-section h1 {
    font-size: 28px;
  }

  #top-section p {
    font-size: 16px;
  }

  #resume h2 {
    font-size: 22px;
  }

  #resume h3 {
    font-size: 16px;
  }

  #resume ul li {
    font-size: 14px;
  }

  #resume ul li::before {
    font-size: 14px;
  }
}

/* Decrease padding for h1 in top section */
#top-section h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
	width: 50%;
	max-width: 600px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
}

.timelines h2 {
	text-align: center;
	color: #000000;
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 32px;
}
.d-flex-2 {
	display: flex;
	align-items: center;
}
.timeline-area {
	padding: 2px 0;
}
.all-timelines {
	position: relative;
}

.all-timelines::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: 2px;
	background: #efa22f;
	top: 20px;
}
.single-timeline {
	margin-bottom: 2px;
}
.timeline-blank {
	width: 50%;
}
.timeline-text {
	width: 50%;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
  padding: -10px -10px;
}
.timeline-text h6 {
	color: #000000;
	font-weight: 900;
	display: inline-block;
	font-size: 1rem;
}
.timeline-text span {
	color: #000000;
	display: block;
	width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
	text-align: right;
}
.t-square {
	content: "";
	position: absolute;
	width: 12px;
	height: 6px;
	left: -6px;
	background: #efa22f;
}
.single-timeline:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
	right: -6px;
	left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
	padding-left: 0;
	padding-right: 30px;
	text-align: right;
}

