@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.text {
  text-align: center;
  color: white;
  font-size: 36px;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f7f7f7;
  height: 100%;
  color: rgb(110, 110, 110);
  overflow-x: hidden; /* Prevent horizontal scroll */
}


body {
  margin-top: 100px; /* To push the page down*/
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 20px;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 10px;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  margin-right: 2px;
}

nav a:hover {
  background-color: #c2c1c1;
  color: #fff;
}

nav a.active {
  background-color: #c2c1c1;
  color: #fff;
}

main {
  margin-top: 100px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 100px;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  background-color: #bebebe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  opacity: 0.7;
}

button:hover {
  background-color: #efa22f;
}

.footer-container {
	background-color: #bebebe;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  
  .social-links {
	display: flex;
	justify-content: center;
  }
  
  .social-links a {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
  }
  
  .footer-text {
	margin-top: 20px;
	font-size: 11px;
	text-align: center;
  }
  
  .footer-text a {
	color: #fff;
	text-decoration: none;
  }
  
  .footer-text a:hover {
	text-decoration: underline;
  }


/* Add your resume-specific styles below this line */
/* Style for resume section */
#resume {
  text-align: left;
  padding: 20px 60px 20px 60px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  max-width: 1200px;
}


/* Style for top section */
#top-section {
  background-color: #f5f5f5;
  padding: 5px;
}

/* Style for heading */
#resume h2 {
  font-size: 30px;
  color: rgb(110, 110, 110);;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}

/* Style for subheading */
#resume h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

#resume h2,
#resume h3 {
  padding-top: 20px;
  padding-bottom: 0px;
}

#resume h2 {
  margin-bottom: 20px;
}

#resume h3 {
  margin-top: 10px;
}

#resume h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 650px;
  background-color: #ddd;
}

/* Style for bullet point text */
#resume ul li {
  font-size: 15px;
  color: #333;
  margin-bottom: 5px;
}

/* Style for dates */
#resume .date {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Style for descriptions */
#resume .description {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

/* Style for links */
#resume a {
  color: #0077cc;
  text-decoration: none;
  border-bottom: 2px solid #0077cc;
}

/* Use white space effectively */
#resume h2,
#resume h3 {
  margin-top: 5px;
}

#resume ul {
  margin-left: 20px;
}

#resume ul li {
  margin-bottom: 5px;
}

#resume ul {
  list-style: none;
}

/* Set max width and center the resume section */
#resume {
  margin: 10px auto;
  max-width: 900px;
  line-height: 1.7;
}

.swiper-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-top: 20px; /* Adjust the margin as desired */
}



.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding-top: 20px;
  z-index: 1; /* Add this property to ensure the slide is on top */
}

.swiper-slide img {
  max-width: 100%;
  max-height: 40vh;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  position: relative; /* Add this property */
  z-index: 1; /* Add this property to ensure the image is on top */
}


.swiper-slide-active {
  opacity: 1;
}

.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.2);
}


.swiper-slide img:hover,
.swiper-slide img:focus {
  transform: scale(1.7); /* Increase the scale value to enlarge the image more */
  z-index: 1;
  max-width: 100%; /* Ensure the enlarged image fits the container */
  max-height: 100%; /* Ensure the enlarged image fits the container */
}

.swiper-button-next, .swiper-button-prev {
  display: none !important;
}


/* Decrease padding for h1 in top section */
#top-section h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #resume {
    padding: 10px 30px 10px 30px;
  }

  #resume h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  #resume h3 {
    font-size: 14px;
    margin-top: 15px;
  }

  #resume ul li {
    font-size: 13px;
    margin-bottom: 3px;
  }

  #resume .date {
    font-size: 14px;
  }

  #resume .description {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #resume {
    padding: 15px 40px 15px 40px;
  }

  #resume h2 {
    font-size: 26px;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #resume h3 {
    font-size: 16px;
    margin-top: 25px;
  }

  #resume ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }

  #resume .date {
    font-size: 15px;
  }

  #resume .description {
    font-size: 15px;
    margin-bottom: 7px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #resume {
    padding: 20px 60px 20px 60px;
  }

  #resume h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  #resume h3 {
    font-size: 16px;
    margin-top: 20px;
  }

  #resume ul li {
    font-size: 15px;
    margin-bottom: 5px;
  }

  #resume .date {
    font-size: 16px;
  }

  #resume .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #resume {
    padding: 20px 80px 20px 80px;
  }

  #resume h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #resume h3 {
    font-size: 18px;
    margin-top: 30px;
  }

  #resume ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }

  #resume .date {
    font-size: 18px;
  }

  #resume .description {
    font-size: 18px;
    margin-bottom: 15px;
  }
}


